* {
  color: white;
  font-family: "Outfit", sans-serif;
  margin: 0px;
  padding:0px;
  
}

body {
  background-color: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #15263f;
  width: 20.438rem;
  max-width: 100%;
  border-radius: 0.938rem;
}

.section-1 {
  margin: 24px;
  height: 100%;
}
.cube-img img {
  width: 100%;
  height: 17.375rem;
}
.cube-img {
  cursor: pointer;
  width: 17.375rem;
  max-width: 100%;
  height: 17.375rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

p {
  margin: 0.75rem 0rem 1rem 0rem;
  color: #8bacd9;
}

h1 {
  margin: 1.5rem 0rem 0.75rem 0rem;
}

h1:hover {
  color: cyan;
  cursor: pointer;
}

.section-2 {
  display: flex;
  justify-content: space-between;

  align-items: baseline;
}

.section-3 {
  display: flex;

  align-items: center;
}

.avatar-img {
  width: 2.063rem;
  height: 2.063rem;
  margin-right: 1rem;
}

.etherium {
  color: cyan;
  display: flex;
  align-items: center;
}

.clock {
  color: #8bacd9;
  display: flex;
  align-items: center;
}

.etherium > img {
  margin-right: 0.4rem;
}

.clock > img {
  margin-right: 0.563rem;
}
.line {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  margin: 1rem 0rem;
}

.author-name:hover {
  color: cyan;
  cursor: pointer;
}

.active-state img {
  width: 44px;
  height: 30px;
}
.active-state {
  background-color: cyan;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.cube-img:hover .active-state {
  display: flex;
}

.bg-img{
}

